.music{
  min-height:100vh;
  background-color: #16191c;
}

.music-title>div>h2{
  color:white;
}

.cover{
  margin-bottom: 50px;
}

.cover>a {
  display: flex;
  justify-content: center;
}

.cover>a>img {

  height: 100%;
  width: 100%;
  max-width:250px;
  max-height: 250px;
  box-shadow: 1px 1px 12px black;
  margin-bottom: 25px;
}

.cover>p{
  /*max-width:100%;*/
    /*font-size:0.3em;*/
}
.music-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:auto;
  /*max-width:1080px;*/
}

.cover>a>img:hover {
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  transition-duration: 0.2s;
}
